.home-page-container {
  position: relative;
}

.home-page-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto;
}

.pokemon-card-navigator-container {
  display: flex;
  justify-content: center;
}
